.footer {
  background-color: #222;
  color: #fff;
  padding: 20px 0;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
}

.footer .footer-content {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
  margin-left: 10%;
  padding:10px;
}

.footer .contact-info, .footer .about {
  flex: 1;
  margin: 0 20px;
}

.footer .contact-info p, .footer .about p {
  margin: 5px 0;
}

.footer .contact-info i, .footer .about i {
  margin-right: 10px;
}

.footer .social-icons {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.footer .social-icons a {
  margin: 0 10px;
  color: #fff;
  font-size: 20px;
}

.footer .social-icons a:hover {
  color: #00aced;
}

.footer .contact-info, .footer .about p {
  margin: 10px 0;
}

.footer .about h4 {
  margin-bottom: 10px;
}

.footer .contact-info p, .footer .about p {
  color: #ccc;
}

.footer .contact-info a, .footer .contact-info p {
  color: #fff;
}

.footer .contact-info a:hover, .footer .social-icons a:hover {
  text-decoration: underline;
}

.copyright {
  text-align: center;
  margin-top: 20px;
  width: 100%;
}
