.navbar {
  position: sticky;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 40px;
  background-color: #fff;
  border-bottom: 1px solid #ccc;
  width: 100%;
  box-sizing: border-box;
  z-index: 1000;
}

.navbar-logo img {
  height: 50px;
}

.navbar-content {
  display: flex;
  align-items: center;
}

.navbar-links {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
}

.navbar-item {
  margin: 0 20px;
}

.navbar-item a {
  text-decoration: none;
  color: black;
  font-size: 18px;
  font-weight: bold;
  padding: 0 10px;
}

.navbar-item a:hover {
  background-color: #FF6E00;
  border-radius: 10px;
  padding: 10px;
  color: black;
}

.navbar-contact img {
  height: 50px;
}

.navbar-toggle {
  display: none;
  cursor: pointer;
}

.navbar-toggle-icon {
  font-size: 28px;
}

/* Mobile styles */
@media (max-width: 768px) {
  .navbar-links {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 70px;
    left: 0;
    width: 100%;
    background-color: #fff;
    border-top: 1px solid #ccc;
  }

  .navbar-links.navbar-links-mobile {
    display: flex;
  }

  .navbar-item {
    margin: 10px 0;
    text-align: center;
  }

  .navbar-toggle {
    display: block;
  }
}

@media (max-width: 480px) {
  .navbar {
    padding: 15px 20px;
  }

  .navbar-logo img {
    height: 40px;
  }

  .navbar-item a {
    font-size: 16px;
    padding: 5px 10px;
  }

  .navbar-toggle-icon {
    font-size: 24px;
  }
}
