.navbar {
  position: sticky;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 40px;
  background-color: #fff;
  border-bottom: 1px solid #ccc;
  width: 100%;
  box-sizing: border-box;
  z-index: 1000;
}

.navbar-logo img {
  height: 50px;
}

.navbar-content {
  display: flex;
  align-items: center;
}

.navbar-links {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
}

.navbar-item {
  margin: 0 20px;
}

.navbar-item a {
  text-decoration: none;
  color: black;
  font-size: 18px;
  font-weight: bold;
  padding: 0 10px;
}

.navbar-item a:hover {
  background-color: #FF6E00;
  border-radius: 10px;
  padding: 10px;
  color: black;
}

.navbar-contact img {
  height: 50px;
}

/* Responsive Styles */
@media (max-width: 768px) {
  .navbar {
    flex-direction: column;
    align-items: flex-start;
    padding: 20px;
  }

  .navbar-logo {
    margin-bottom: 20px;
  }

  .navbar-links {
    flex-direction: column;
    align-items: flex-start;
  }

  .navbar-item {
    margin: 10px 0;
  }
}

@media (max-width: 480px) {
  .navbar-logo img {
    height: 40px;
  }

  .navbar-item a {
    font-size: 16px;
  }

  .navbar-contact img {
    height: 40px;
  }
}